<div data-lift="surround?with=base-wrap;at=content">
  <head_merge>
    <title lift="Menu.title">Lift 3 Demo: %*%</title>

    <style>
      tr {
        transition: all 2.5s ease;
        -o-transition: all 2.5s ease;
        -moz-transition: all 2.5s ease;
        -webkit-transition: all 2.5s ease;
        max-height: 50px; /* 1000px works too */
        overflow: hidden;
      }
      /* The 'hidden' state to transition from & to */
      tr.ui-animate {
        opacity: 0;
        max-height: 0;
      }
    </style>

  </head_merge>


  <div class="main-content">
    <div lift="Notices"></div>

    <h1>Angular ToDo</h1>

    <div ng-app="TodoApp">

      <div lift="TodoSnippet"></div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div ng-controller="ListCtrl">

            <h3>ToDo ({{numTotal()}} total, {{numOpen()}} open)</h3>

            <div name="add-todo-block" toggle style="display: none">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-md-2">Todo</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="item.text" placeholder="Todo">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                    <button type="button" ng-click="toggle()" class="btn btn-default">Cancel</button>
                  </div>
                </div>
              </form>
            </div>

            <div style="margin-top:10px;" class="alert alert-danger" ng-show="showDeleteConfirm" ng-cloak>
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-left">
                    Do you really want to delete '{{chosenTodo.text}}'?
                  </div>
                  <div class="pull-right">
                    <a class="btn btn-default" ng-click="closeRemoveConfirm()">Cancel</a>
                    <a class="btn btn-danger" ng-click="removeItem()">Delete</a>
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-striped table-condensed table-hover">
              <thead>
                <th class="col-md-5">Todo</th>
                <th class="col-md-1">Priority</th>
                <th class="col-md-2">Due</th>
              </thead>
              <tbody>
                <tr id="item_{{todo.id}}" ng-repeat="todo in todos" ui-animate ng-cloak>
                  <td><input type="checkbox" style="margin-bottom: 5px;" ng-model="todo.done">
                    <span class="done-{{todo.done}}"><a href="#/sub/{{todo.id}}">{{todo.text}}</a></span>
                  </td>
                  <td><span class="done-{{todo.done}}">{{todo.priority}}</span></td>
                  <td><span class="done-{{todo.done}}">{{todo.dueDate | date:mediumDate}}</span></td>
                  <td>
                    <a class="btn btn-default btn-xs" ng-click="editItem()"><i class="done-{{todo.done}} icon-edit"></i></a>
                    <a class="btn btn-default btn-xs" ng-click="openRemoveConfirm()"><i class="done-{{todo.done}} icon-remove"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-default" ng-click="fetch()">Fetch</button>
            <button class="btn btn-default" ng-click="addItem()">Add</button>

          </div>
        </div>
      </div>

    </div>
  </div>

  <span data-lift="embed?what=/templates-hidden/parts/footer"></span>

</div>
