<div data-lift="surround?with=base-wrap;at=content">
  <head_merge>
    <title lift="Menu.title">Lift 3 Demo: %*%</title>
  </head_merge>
  <div class="main-content" ng-app>
    <div lift="Notices"></div>

    <h1>Futures</h1>

    <div>
      <h5>
        The following text takes long to calculate and is calculated parallel to the rest of the site.
        When all is rendered the site is pushed.
      </h5>
      <div data-ad-processor="long-running-calculation">

      </div>
    </div>

    <p></p>

    <div ng-controller="WpSuggestionsCtrl">

    <div class="hero-unit">
      <div class="inner" style="text-align: center">
        <h2>Wikipedia Suggestions</h2>
        <form class="input-append" ng-submit="getSuggestions()">
          <div class="row search-box">
            <div class="col-md-6 col-md-offset-3">
              <div class="input-group">
                <input ng-model="wpQuery" type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button"><i class="icon-search icon-large"></i></button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <h2>Suggestions:</h2>
    <ul class="unstyled">
      <li ng-repeat="suggestion in suggestions">
        <a href="{{suggestion.link}}" target="_blank"><span>{{suggestion.suggestion}}</span></a>
      </li>
    </ul>

    </div>

  </div>
  <span data-lift="embed?what=/templates-hidden/parts/footer"></span>
</div>
